<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixan</title>
    <link rel="stylesheet" href="css/styles.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Pixelify+Sans&display=swap" rel="stylesheet">
    <script src="http://kit.fontawesome.com/41bcea2ae3.js"></script>

</head>
<body>
    <header>
        <div class="HeaderContent">
            <div class="logo-container">
                <a href="home"><img src="/public/Images/Logo/logoN.png" alt="" class="logo"></a>
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="home"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="aboutus"><i class="fas fa-info-circle"></i> About Us</a></li>
                        <li><a href="history"><i class="fas fa-book"></i> History</a></li>
                        <li><a href="gallery"><i class="fas fa-images"></i> Gallery</a></li>
                        <li><a href="contact"><i class="fas fa-envelope"></i> Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="auth-section">
                <a href="login" class="auth-link">Log In</a>
                <span class="auth-divider">|</span>
                <a href="register" class="auth-link">Sign Up</a>
            </div>
        </div>
    </header>

    <section class="home-section">
        <div class="hero">
            <img src="/public/Images/Capturas/pixan1.JPG" alt="Game Screenshot">
        </div>
        <div class="game-info">
            <h1>PIXAN</h1>
            <p>Pixan is a platform game made in pixel art style, inspired by the sacred mayan book Popol Vuh.</p>
            <a href="#about" class="cta-button">More about the game</a>
        </div>
    </section>

    <section id="about" class="about-section">
        <div class="about-content">
            <h2>Popol Vuh</h2>
            <p>Pixan is inspired by the stories compiled in the Mayan book Popol Vuh, which is a collection of mythical stories, genealogies, and legends encompassing the creation of the world, the formation of humans, and the adventures of the twin heroes Hunahpú and Ixbalanqué.</p>
        </div>
    </section>

    <section class="features-section">
        <div class="feature">
            <img src="/public/Images/Capturas/popol vuh.jpg" alt="Feature Image 1">
            <h3>Our mission</h3>
            <p>Our mission is to offer a unique experience that combines Mayan culture, the aesthetics of pixel art, and the enjoyment of 2D platform games.</p>
        </div>
        <div class="feature">
            <img src="/public/Images/Capturas/muerte.jpg" alt="Feature Image 2">
            
        </div>
        <!-- Agrega más características según sea necesario -->
    </section>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/public/Images/Logo/logo pixan.png" alt="Footer Logo">
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        function toggleMenu() {
            var nav = document.querySelector('nav ul');
            nav.classList.toggle('show');
        }
    </script>
</body>
</html>
